<!DOCTYPE html>
{%load staticfiles %}
<html>
<head>
	<title>Student Management System</title>
	<!-- bootstrap -->
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- custom css -->
	<link rel="stylesheet" type="text/css" href="{%static 'css/student.css'%}">
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One&display=swap" rel="stylesheet">
</head>
<body background="{%static 'img/img2.jpg'%}">

	<!-- navbar -->
	<nav class="navbar navbar-default custom-navbar myfont">
		<div class="container">
			<ul class="nav navbar-nav">
			    <li><a href="{%url 'student_list'%}" class="navbar-brand bigbrand">EduManage</a></li>
			    <li><a href="{%url 'about'%}">About</a></li>
			    <li><a href="https://github.com/prateek19981?tab=repositories" class="navbar-brand">Github</a></li>

				

			</ul>
			



            <ul class="nav navbar-nav navbar-right">
            	{%if user.is_authenticated%}
            	<li><a href="{%url 'student_new'%}">New Student</a></li>
            	<li><a href="{%url 'logout'%}">Logout</a></li>
            	<li> <a>welcome {{user.username}}</a></li>

            	{%else%}
            	<li><a href="{%url 'login'%}" class="nav navbar-right">Login <span class="glyphicon glyphicon-user"></span></a></li>

            	{%endif%}

            	
            </ul>



		</div>

		



	</nav>

	<div class="container">
		{%block body_block%}





		
		{%endblock%}





	</div>

</body>
</html>